<!--   by hrabit64    -->
<!DOCTYPE html>
<html>
    <head>
        <title>Hangul Hill Cipher</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    </head>
    <body>
        <!--   제목 & information    -->
        <div class="container-fluid py-5 px-5" id="title">
            <div class="row justify-content-center">
                <div class="col-12"><h1 class ="text-center">Hangul Hill Cipher</h1></div>
                <div class="col-12"><br></div>
                <div class="col-12"><p class ="text-center lead"><b>Hill Cipher</b> 를 사용하여 한글을 암호화하거나 복호화 할 수 있습니다</p></div>
                <div class="col-12"><p class ="text-center lead">Hill Cipher에 대한 설명은 이 <a href="https://en.wikipedia.org/wiki/Hill_cipher">링크</a>를 참고하세요</p></div>
                <div class="col-12"><br></div>
                <div class="col-12"><br></div>
                <div class="col-6">
                    <dl>
                        <dt class ="text-center lead"><h3 class ="text-center">Text</h3></dt>
                        <br>
                        <dd class ="text-center">- 오직 <code>한글 + 공백</code> 만 사용 가능합니다.</dd>
                        <dd class ="text-center">- 길이는 <code>500자</code>이하여야 합니다.</dd>
                        <dd class ="text-center">- 한글은 자음이나 모음만 입력하는 것은 사용할 수 없습니다. <code>ex) ㄱ ㄷ ㅏ ㅗ </code><br>
                            완전한 문장 혹은 단어를 입력해주세요! <code>ex) 안녕 선형대수 히오스 </code>
                        </dd>
                        <dd class ="text-center">- 이 사이트에서 단위 블록은 2입니다. 따라서 총 글자 갯수가 홀수라면, <br>
                            암호화 및 복호화 수행시 공백을 추가하여 수행합니다.<br>
                            따라서 결과에 공백이 포함될 수 있습니다!</dd>
                    </dl>
                </div>
                <div class="col-6">
                    <dl>
                        <dt class ="text-center lead"><h3 class ="text-center">Key</h3></dt>
                        <br>
                        <dd class ="text-center">- 해당 사이트에서는 <code>2 X 2 행렬</code>을 Key로 사용합니다.</dd>
                        <dd class ="text-center">- 값은 <code>0~11172</code>사이여야 합니다.</dd>
                        <dd class ="text-center">- <code>det(key)</code> 는 0이 아닌 값이여야 합니다.</dd>
                        <dd class ="text-center">- <code>modular multiplicative inverse</code> 를 계산할 수 있어야 합니다.</dd>
                        <dd class ="text-center">- Key는 <code>랜덤 키 생성</code> 을 사용하는 것을 추천드립니다</dd>

                    </dl>
                </div>
            </div>
            <div class="col-12"><br></div>
            <div class="col-12"><br></div>

            <div class="row justify-content-center ">
                <div class = "alert alert-success" id="success" style="display: none">
                    <string> 완료! </string><p id ="successmsg"></p>

                </div>
                <div class = "alert alert-danger" id="error" style="display: none">
                    <string> 오류! </string><p id ="errormsg"></p>

                </div>
                <div class="col-12"><h2 class ="text-center"> Key </h2></div>
                <div class="col-12"><br></div>
                <div class="col-3"></div>

                <div class="col-3">
                  <input type="number" class="form-control" id="a" placeholder="a">
                </div>
                <div class="col-3">
                    <input type="number" class="form-control" id="b" placeholder="b">
                </div>

                <div class="col-3"></div>
                <div class="col-12"><br></div>
                <div class="col-3"></div>

                <div class="col-3">
                    <input type="number" class="form-control" id="c" placeholder="c">
                </div>

                <div class="col-3">
                    <input type="number" class="form-control" id="d" placeholder="d">
                </div>

                <div class="col-3"><button type="submit" class="btn btn-primary" id="RandomkeyBtn">랜덤 키 생성</button></div>

            </div>
            <div class="row justify-content-center ">
                <div class="col-12"><br></div>
                <div class="col-12"><br></div>
                <div class="col-6"><h2 class ="text-center">Encryption</h2></div>
                <div class="col-6"><h2 class ="text-center">Decryption</h2></div>
                <div class="col-12"><br></div>
                <div class="col-6">
                    <form>
                        <div class="form-group">
                            <textarea class="form-control" type="text" id="plainText" rows="5" placeholder="암호화 할 텍스트"></textarea>
                        </div>

                    </form>
                    <button class="btn btn-primary" id="encryptionBtn">암호화</button>
                    <button class="btn btn-secondary" id="pasteEnBtn">클립보드 붙여 넣기</button>
                    <button class="btn btn-success" id="copyEnBtn">결과 복사</button>
                </div>

                <div class="col-6">
                    <form>
                        <div class="form-group">
                            <textarea class="form-control" type="text" id="cipherText" rows="5" placeholder="복호화 할 텍스트"></textarea>
                        </div>
                    </form>
                    <button class="btn btn-primary" id="decryptionBtn">복호화</button>
                    <button class="btn btn-secondary" id="pasteDeBtn">클립보드 붙여 넣기</button>
                    <button class="btn btn-success" id="copyDeBtn">결과 복사</button>
                </div>
                <div class="col-12"><br></div>
                <div class="col-12"><br></div>
                <div class="col-6"><textarea class="form-control" type="text" id="encryptionRes" placeholder="암호화 결과" rows="5" readonly></textarea></div>
                <div class="col-6"><textarea class="form-control" type="text" id="decryptionRes" placeholder="복호화 결과" rows="5" readonly></textarea></div>
                <div class="col-12"><br></div>
                <div class="col-12"><br></div>

                <div class="col-12"><br></div>
                <div class="col-12"><br></div>
                <div class="col-12"><p class="text-center">© 2022 Copyright hrabit64 (Junser Hwang). All rights reserved.</ptext-center></div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="../static/index.js"></script>
    </body>
</html>
